<footer class="footer px-5 d-flex justify-content-between flex-wrap">
        <p>&copy; Created by - Siddharth Sarode</p>
        <div class="socialMedia">
                <a href="https://www.instagram.com/siddharth_3555/" target="_blank" class="fs-4 mx-1"><i
                                class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/siddharth-sarode-b7b6b724b/" class="fs-4 mx-1" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/siddharthsarode" class="fs-4 mx-1" target="_blank"><i
                                class="fa-brands fa-github"></i></a>
        </div>
</footer>