<!DOCTYPE html>
<html lang="en">

<head>
    {{>_meta}}
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-12 m-auto mt-5 pt-5  shadow text-center">
                <h1 class="display-1">404</h1>
                <p class="lead" style="font-size: 4rem;">Page Not Found</p>
                <a href="/" class="btn btn-outline-primary">Go Back Home</a>
            </div>
        </div>
    </div>


</body>

</html>