<!DOCTYPE html>
<html lang="en">

<head>
    {{>_meta}}
</head>

<body>

    {{>_navbar}}

    <div class="hero">
        <div class="container">
            <div class="row align-items-center mt-4">
                <div class="col-md-6 col-12 mx-auto mt-5 left_side">
                    <h1>Welcome to Weather App</h1>
                    <h4>Get <span>Weather</span> info of your city name</h4>
                    <a href="/weather" class="btn btn-dark">Get Now</a>
                </div>

            </div>
        </div>
    </div>

    {{>_footer}}

    {{>_jsLinks}}
</body>

</html>