<!DOCTYPE html>
<html lang="en">

<head>
    {{>_meta}}
    <style>
        input[type="search"] {
            color: #fff !important;
            background: transparent !important;
        }

        input::placeholder {
            color: #c1c0c0 !important;
            font-style: italic !important;
        }

        #weather-icon {
            font-size: 4rem;
            margin-bottom: 1rem;
            display: none;
        }
    </style>
</head>

<body>

    {{!-- Navbar include --}}
    {{>_navbar}}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <form class="d-flex mt-3" id="cityForm">
                    <div class="form-group" style="flex: 1; margin-right:.5rem;">
                        <input type="search" name="query" class="form-control transparent-input"
                            placeholder="Enter your city">
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="box col-md-6 col-12 my-5 px-5 py-3 mx-auto text-center" style="background-color: #1e1e1e;">
                <div class="wave-container">
                    <div class="wave wave-1"></div>
                    <div class="wave wave-2"></div>
                </div>

                <div class="weathercon">
                    <i class="fa-solid fa-sun" style="color: orange;" id="weather-icon"></i>
                </div>

                <div class="info">
                    <h1 class="location"><i class="fa-solid fa-street-view"></i> <span id="location"></span></h1>
                    <p id="date"></p>
                    <h2 class="temp" id="temperature"></h2>
                    <h2 class="tempMinMax" id="tempMinMax"></h2>
                </div>
            </div>
        </div>
    </div>

    {{>_footer}}

    {{>_jsLinks}}
    <script src="../js/weather.js"></script>

</body>

</html>