:root {
    font-size: 16px;
    --background-color: #121212;
    --primary-color: #1e1e1e;
    --text-color: #f1f1f1;
    --highlight-color: #ffc107;
    --button-hover-color: #e0a800;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar,
.footer {
    background-color: var(--primary-color);
}

.navbar-brand,
.nav-link,
.footer p {
    color: var(--text-color);
}

.navbar-brand img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.625rem;
}

.left_side {
    background: rgba(30, 30, 30, 0.8);
    padding: 1.55rem;
    border-radius: 0.625rem;
    text-align: center;
}

.left_side h1 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

.left_side h4 {
    font-size: 1.5rem;
    margin-bottom: 1.875rem;
}

.left_side h4 span {
    color: var(--highlight-color);
    font-weight: bold;
}

.left_side .btn-dark {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 0.625rem 1.25rem;
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
}

.left_side .btn-dark:hover {
    background-color: var(--button-hover-color);
    color: var(--text-color);
}

.carousel-image {
    height: 20rem;
    /* 400px */
    width: 20rem;
    /* 400px */
    object-fit: cover;
    border-radius: 10%;
    margin: 0 auto;
    position: relative;
}



.carousel-caption h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 1.2rem;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 1rem 0;
}

.footer p {
    margin: 0;
}

/* About page */

#about-img {
    width: 80%;
    border-radius: 50%;
    height: 22rem;
    border: 2px solid blue;
    filter: brightness(85%);
}